@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	font-family: Roboto;
}

.hero {
	background-color: #1F2937;
	padding-top: 16px;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 100px;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 80px;
}

.logo {
	font-size: 24px;
	color: #F9FAF8;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 24px;
}

a {
	text-decoration: none;
	font-size: 18px;
	color: #E5E7EB;
}

.hero_main {
	display: flex;
	justify-content: space-between;
}

.main_text {
	font-size: 48px;
	color: #F9FAF8;
	font-weight: bolder;
}

.secondary_text {
	font-size: 18px;
	color: #E5E7EB;
	margin-bottom: 8px;
}

.hero_image {
	background-color: grey;
	color: #F9FAF8;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.sign_up {
	padding: 5px 25px;
	background-color: #3882F6;
	border-radius: 8px;
	border: none;
	color: #F9FAF8;
	font-size: 18px;
}

.text {
	width: 45%;

}

.image_section {
	padding-top: 24px;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 100px;
}

.information_header {
	font-size: 36px;
	font-weight: bolder;
	color: #1F2937;
	display: flex;
	justify-content: center;
	margin-bottom: 24px;
}

.images {
	display: flex;
	justify-content: center;
	gap: 32px;
}

.image_container {
	width: 175px;
}

.image {
	border-width: 4px;
	border-style: solid;
	border-color: #3882F6;
	border-radius: 16px;
	height: 165px;
}

.subtext {
	text-align: center;
}

.quote_section {
	padding-top: 125px;
	padding-bottom: 100px;
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	/*flex-direction: column;*/
	background-color: #E5E7EB;
}

.quote_container {
	display: flex;
	flex-direction: column;
}

.quote {
	width: 825px;
	font-size: 36px;
	font-style: italic;
	font-weight: 100;
}

.quotee {
	align-self: flex-end;
	font-weight: bold;
	margin-right: 40px;
}

.cta_section {
	padding-top: 75px;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 75px;
}

.cta_container {
	padding: 48px 100px;
	background-color: #3882F6;
	border-radius: 8px;
	display: flex;
	justify-content: space-between;
}

.cta_container .sign_up {
	border: 2px solid white;
}

.cta_header {
	color: #F9FAF8;
	font-size: 150%;
}

.cta_instruction {
	color: #E5E7EB;
}

.footer {
	background-color: #1F2937;
	color: #E5E7EB;
	padding-top: 32px;
	padding-bottom: 32px;
	display: flex;
	justify-content: center;
}